.ui-button
	border-radius $border-radius
	font-size 14px
	font-weight $regular
	padding 0 $padding
	transition border-color $transition

	// Type styles
	&:not(&.ant-btn-dashed, &.ant-btn-primary, &.ant-btn-danger, &.ant-btn-ghost, &.ant-btn-link)
		background-color transparent
		color $color-text
		border 1px solid $color-ui

	&.ant-btn-primary
		background-color $color-ui
		border none

	// Size styles
	&:not(&.ant-btn-sm,&.ant-btn-lg)
		min-width 93px
		height 36px

	&.ant-btn-sm
		min-width 77px
		height 28px

	&.ant-btn-lg
		min-width 106px
		height 42px

&.ant-btn-link
	color $color-ui
	font-size 16px
	font-weight $bold
