.ui-input
	display flex
	flex-direction column
	justify-content flex-start
	align-items flex-start
	position relative

	& .ant-input-affix-wrapper, &::v-deep .ant-input
		background-color $color-background

	& .ant-input-affix-wrapper
		border $border
		border-radius $border-radius

	&::v-deep .ant-input
		border 0
		padding 4px 0
		color $color-text
		font-size 14px

	& .ant-input-affix-wrapper-focused, &._focus .ant-input-affix-wrapper
		border-color $color-ui

	&:placeholder
		color $color-text

	&:focus
		box-shadow none
		border-color $color-ui

	&__title
		position absolute
		top 9px
		left 16px
		color $color-border
		font-size 14px
		z-index 2
		background-color $color-background
		transition-property color, top, left, padding, font-size
		transition-duration 0.4s
		transition-timing-function ease
		transition-delay 0s

		&._top
			top -7px
			left 6px
			font-size 10px
			padding 0 6px
			color $color-ui

	&._color .ant-input
		height 33px
		width 30px
		border none
		background none

	&._error &__title
		color $color-error

	&._error .ant-input-affix-wrapper-focused, &._error .ant-input-affix-wrapper
		border-color $color-error
