.ui-logo
	width 100%
	background-color $color-text
	border-radius $border-radius
	transition background-color $transition

	&._small
		width 88px
		height 40px

		&::v-deep .ant-image
			padding 0 12px

	&._middle
		width 104px
		height 48px

		&::v-deep .ant-image
			padding 0 15px

	&._large
		width 144px
		height 72px

		&::v-deep .ant-image
			padding 0 $padding

	&._shadow
		box-shadow $box-shadow

	&._border
		border $border

	&._without-bg
		background-color transparent

	&._border._without-bg
		border 1px solid $color-border-inversion

	&::v-deep
		& .ant-image
			display flex
			justify-content center
			align-items center
			height 100%
			width 100%

			& .ant-image-mask
				border-radius $border-radius

		& .ant-image-img
			height auto
			max-height 100%
			max-width 100%
			width auto
