.ui-stories
	position fixed
	top 0
	right 0
	bottom 0
	left 0
	background rgba(16, 16, 16, 0.98)
	font-family sans-serif
	z-index 1000

	&__container
		height 100%
		display flex
		justify-content center
		align-items center

	& > *
		box-sizing border-box

	&-item
		position absolute
		transition transform 0.2s cubic-bezier(0.4, 0, 1, 1)

	@media screen and (max-width 768px)
		width 100%
		height 100%
		display flex
		flex-direction column

	&__source
		position relative
		border-radius 16px
		background #000000
		width 414px
		height 751px
		background-size contain

		@media screen and (max-width 768px)
			width 100%
			height auto
			flex 1 1 auto

		&::v-deep img, &::v-deep video
			width 100%
			height 100%
			max-height 700px
			object-fit contain
			display block

	&__header
		position absolute
		top 0
		left 0
		right 0
		padding 8px 11px

	&__time
		font-size 16px
		line-height 20px
		color $color-text

	&__top
		display flex
		align-items center

	&__body
		position absolute
		bottom 0
		left 0
		right 0

		& .user
			position absolute
			bottom 30px
			left 50%
			transform translateX(-50%)

			&__name
				display none

			&__image
				width 140px
				height 140px
				background linear-gradient(180deg, #4c7cf6 0%, #6200c3 100%)
				margin 0
				padding 5px

				img
					border 5px solid $color-text
					border-radius 100%

			@media screen and (max-width 768px)
				display none

	&__icon
		width 24px
		height 24px
		background rgba(255, 255, 255, 0.8)
		border-radius 50px
		position absolute
		top 50%
		transform translateY(-50%)
		cursor pointer

		@media screen and (max-width 768px)
			top 0
			bottom 0
			transform none
			width 100px
			height auto
			background none

		&:before
			content ""
			position absolute
			top 8px
			left 9px
			border solid #323232
			border-width 0 2px 2px 0
			display inline-block
			padding 3px
			transform rotate(135deg)
			border-radius 1px

			@media screen and (max-width 768px)
				content none

		&--prev
			left -35px

			@media screen and (max-width 768px)
				left 0

		&--next
			right -35px
			transform translateY(-50%) rotate(180deg)

			@media screen and (max-width 768px)
				right 0
				transform none

	&__user
		display flex
		align-items center

		&__image
			width 32px
			height 32px
			border-radius 100px
			overflow hidden
			margin-right 8px

			img
				width 100%
				height 100%
				display block
				object-fit cover

		&__name
			font-weight 600
			font-size 16px
			line-height 18px
			color $color-text
			margin-right 5px

	&__time
		display flex
		margin-bottom 10px

		&-item
			position relative
			width 100%
			height 2px
			margin-right 4px
			background rgba(255, 255, 255, 0.5)
			border-radius 4px

			&:last-child
				margin-right 0

		&-fill
			position absolute
			width 100%
			background $color-background-inversion
			height 2px

	&__close
		position absolute
		width 50px
		height 50px
		top 20px
		right 20px
		display flex
		align-items center
		justify-content center
		cursor pointer

		&:after
			content "\00d7"
			color $color-text
			font-weight 100
			font-size 35px
