.ui-text
	font-size 15px
	font-weight $regular

	&._title
		color $color-text
		font-weight $bold

		&._desktop, &._tablet
			&._l
				font-size 48px

			&._m
				font-size 32px

			&._s
				font-size 25px

			&._xs
				font-size 20px

		&._mobile
			&._l
				font-size 32px

			&._m
				font-size 25px

			&._s
				font-size 20px

			&._xs
				font-size 18px

	&._subtitle
		color $color-text
		font-weight $regular

		&._desktop, &._tablet, &._mobile
			&._l
				font-size 16px

			&._m
				font-size 16px

			&._s
				font-size 14px

			&._xs
				font-size 12px

	&._text
		color $color-text
		font-weight $regular
		font-size 14px
		line-height 21px

&._description
	color $color-text-secondary
	font-weight $regular
	font-size 14px
	line-height 21px

	&._s, &._xs
		font-size 12px
		line-height 18px
